<div class="example-container mat-elevation-z8">
  <h3>Edit Usuario</h3>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
      <a mat-flat-button color="primary" (click)="userDetails()"><mat-icon>arrow_back</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="Nombre"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!form.get('Nombre').valid && form.get('Nombre').touched">Ingrese Nombre</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" formControlName="Apellido"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!form.get('Apellido').valid && form.get('Apellido').touched">Ingrese Apellido</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Peso (Kg)</mat-label>
        <input matInput placeholder="Peso (Kg)" formControlName="Peso"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!form.get('Peso').valid && form.get('Peso').touched">Ingrese Peso (Kg)</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
